/* Global Veiw aka Desktop View */

.container {
    background-color: rgb(214, 190, 237);
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    min-height: 200px;
    width: 30%;
    margin-bottom: 40px;
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

/* Tablet View */
@media(max-width: 768px){
    
    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }
}



/* Mobile View */
/* it should be 360px or 400px */
@media(max-width: 500px){

    .col {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }
}