/* Global Veiw aka Desktop View */

body {
    font-family: 'Asap', sans-serif;
}

.container {
    background-color: #fadc65;
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: 30%;
    margin-bottom: 40px;
    background-color: #7cace0;
}

.col p {
    color: white;
    font-size: 1rem;
    padding: 20px 25px;
}

.hide-desktop-only {
    display: none;
}

.col img {
    width: 100%;
    height: auto;
}

/* .col p::first-letter {
    font-weight: bold;
} */


/* Tablet View */
@media(max-width: 768px){
    
    .col {
        width: 45%;
    }

    .hide-desktop-only {
        display: block;
    }
}



/* Mobile View */
/* it should be 360px or 400px */
@media(max-width: 500px){

    .col {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }
}